@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,200;1,500;1,700&display=swap');

//colors
$blue: #3498db;
$blueHover: #7dbeea;
$text: #fff;
$cancel: #9c2626;
$border: #ccc;

// Fonts
$textFont: 'Poppins', sans-serif;
